{{!< default}}

<main class="site__content background-alternate">

    <div class="hero-intro-content">
        <div class="profile-picture">
            {{#get "authors" filter="slug:ram0ng1" limit="1"}}
                {{#foreach authors}}
                <img src="{{profile_image}}" alt="{{name}}" class="profile-picture__image" style="border-radius: 50%; width: 100%; height: 100%;">
                {{/foreach}}
            {{/get}}
        </div>
        <h1 class="intro-title text-center heading-large">
            Olá, me chamo <span>Ramon Guilherme</span> 👋. Estou construindo minha experiência em <span>desenvolvimento</span> e <span>UI Design</span>.
        </h1>
        <div class="intro-description text-center">
            Apresentando meu pequeno espaço, onde compartilho minhas paixões por <b>jogos, música e tecnologia</b>.
        </div>
        <div class="cta-wrapper flex justify-center">
            <a href="#/portal/signup" class="button button--primary button--small">Cadastre-se agora!</a>
        </div>
    </div>
    <div class="text-center">
        <div class="post-feed-icon">
            <a href="#posts" class="button" style="text-decoration: none;">
                <span style="font-size: 14px; text-transform: uppercase;">{{> "icons/abaixo"}} </span>
            </a>
        </div>
    </div>
    
    <section class="section section--dense-top">
        <div class="container container--dense">

            <div class="post-feed post-feed--articles">
                {{#foreach posts visibility="public"}}
                    <div id="posts"
                        class="
                            post-feed__item
                            {{#if featured}}post-feed__item--featured{{/if}}
                            {{#has tag="#large-preview"}}post-feed__item--large{{/has}}
                        "
                    >
                        {{> "post-card"}}
                    </div>
                {{else}}
                    <div class="alert alert--info">
                        Ainda não há posts aqui.
                    </div>
                {{/foreach}}
            </div>

            {{pagination}}

        </div>
    </section>
</main>

{{> "footer"}}
